# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Environment variables (IMPORTANT)
.env

# Logs
*.log

# Database files
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Node (if frontend use karega)
node_modules/
dist/
build/

# Coverage / testing
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# Temporary files
*.tmp
*.bak
*.swp